.row.comment{"data-user-id": comment.user.id, "data-comment-id": comment.id}
  .col-md-12.content
    %p.name
      %strong= comment.user.username
    %p.date
      Commented
      = time_ago_in_words(comment.created_at)
      ago
    %p.body= comment.body