%footer.footer.visible-xs
  .row
    .col-sm-12.group.links
      %h3 Find me on
      .social
        %a{:href => "http://www.facebook.com/jonaszkadzielapl", :target => "_blank"}
          %i.fa.fa-facebook
        %a{:href => "http://www.linkedin.com/in/jonaszkadziela", :target => "_blank"}
          %i.fa.fa-linkedin
        %a{:href => "https://github.com/jonaszkadziela", :target => "_blank"}
          %i.fa.fa-github
        %a{:href => "http://www.youtube.com/channel/UCRGptWGCh-CsEEKVOFn_uwg", :target => "_blank"}
          %i.fa.fa-youtube-play
    .col-sm-12.group.copyright
      %p Jonasz Kądziela © 2018