%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.navbar-brand= link_to "BetterBlog", root_path
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right.nav-buttons
        - if user_signed_in?
          %li
            = link_to "New post", new_post_path, class: "btn my-btn", type: "button"
          %li
            = link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn my-btn", type: "button"
        - else
          %li
            = link_to "Sign in", new_user_session_path, class: "btn my-btn", type: "button"