.row.about
  .container.responsive
    .col-md-12.col-lg-4.col
      = image_tag "profile-picture.png", class: "profile-picture circle"
    .col-md-12.col-lg-8.col
      .content
        %h1 Welcome to my blog!
        %p
          My name is Jonasz Kądziela and I have been passionate about IT for a long time. I started my adventure with computers from creating primitive 2D games.
          After many years of intensive education, I have significantly expanded my skills, however my love for computer science remained.
        %p
          You can read more info about me on my website: 
          %a{:href => "https://www.jonaszkadziela.pl", target: "_blank"} jonaszkadziela.pl