#page_wrapper
  #profile_image
    = image_tag "profile-picture.png"
  #content
    %h1 Cześć, nazywam się Jonasz Kądziela...
    %p ...i od dawna pasjonuję się informatyką. Swoją przygodę z komputerami rozpocząłem od tworzenia prymitywnych gier 2D.
    %p Po wielu latach intensywnej nauki znacznie poszerzyłem swoje umiejętności, a miłość do informatyki pozostała.
    %p
      Znajdź mnie na
      %a{href: "http://www.facebook.com/jonaszkadzielapl", target: "_blank"} Facebook,
      %a{href: "https://github.com/jonaszkadziela", target: "_blank"} GitHub
      oraz
      %a{:href => "https://www.jonaszkadziela.pl", target: "_blank"} jonaszkadziela.pl