/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "shared";
@import "form";
@import "pagination";

body, html
{
	font-family: Roboto, Helvetica, Arial, Geneva, sans-serif;
}

body
{
	padding-top: 70px;
}

a
{
	color: $primary-color;
  transition: 0.1s;
	text-decoration: none;
	&:active, &:focus, &:hover
	{
		color: #0d52a5;
		text-decoration: none;
	}
}

.resize-v
{
	resize: vertical;
}

.circle
{
	border-radius: 50%;
}

.alert
{
	color: #fff;
	border: none;
	border-radius: 0;
	.close
	{
		color: #fff;
		opacity: 1;
		&:active, &:focus, &:hover
		{
			color: #ccc;
		}
	}
}

.my-alert
{
	font-size: 16px;
	font-weight: 700;
}

.my-alert-notice
{
	@extend .my-alert;
	background: $primary-gradient;
}

.my-alert-danger
{
	@extend .my-alert;
	background: $danger-gradient;
}

.btn
{
	padding: 5px 15px !important;
	font-size: 14px;
	background: none;
	border-radius: 25px;
	font-weight: 700;
	&:active, &:focus, &:hover
	{
		box-shadow: none;
	}
}

.my-btn
{
	border: 3px solid $primary-color;
	color: $primary-color;
	&:active, &:focus, &:hover
	{
		background-color: $primary-color;
		color: #fff;
	}
}

.my-btn-danger
{
	border: 3px solid $danger-primary-color;
	color: $danger-primary-color;
	&:active, &:focus, &:hover
	{
		background-color: $danger-primary-color;
		color: #fff;
	}
}

.navbar
{
	background: $primary-gradient;
	padding: 10px 0;
	.container-fluid
	{
		padding: 0 30px;
	}
	.navbar-brand
	{
		a
		{
			font-size: 26px;
			font-weight: bold;
			color: #fff !important;
			&:hover
			{
				color: #ddd !important;
				text-decoration: none;
			}
		}
	}
	.navbar-toggle
	{
		border: 2px solid #fff;
		&:active, &:focus, &:hover
		{
			background-color: #fff;
			.icon-bar
			{
				background-color: #0d52a5;
			}
		}
	}
	.nav-buttons
	{
		margin: -10px -20px;
		padding: 17px;
		.btn
		{
			color: #fff;
			border-color: #fff;
			margin-left: 5px;
			&:active, &:focus, &:hover
			{
				background-color: #fff;
				color: #0d52a5;
			}
		}
	}
}

.nav-section
{
	background-color: #0d52a5;
	p
	{
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		padding: 15px 30px;
		margin: 0;
	}
	&.links
	{
		background: $primary-gradient;
		margin-top: auto;
		width: 100%;
		padding: 20px;
		text-align: center;
	}
}

.nav-sidebar
{
	li a
	{
		color: #fff;
		font-weight: 700;
		padding: 10px 30px;
		background-color: #08458e;
		&:active, &:focus, &:hover
		{
			color: #ccc;
			background-color: #052b59
		}
	}
}

.social
{
	display: flex;
  justify-content: center;
	align-items: center;
	a
	{
		font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 48px;
		display: inline-block;
		text-align: center;
		border-radius: 50%;
		border: 2px solid #fff;
		margin: 10px 0 10px 10px;
		color: #fff;
		&:first-child
		{
			margin-left: 0;
		}
		&:hover, &:focus
		{
			background-color: #fff;
			i
			{
				color: #0d52a5;
			}
		}
	}
}

.main
{
	padding: 30px;
	.row
	{
		margin: 0;
	}
}

.sidebar
{
  display: none;
}

@media (min-width: $small-device)
{
	.sidebar
	{
		width: 300px;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
		z-index: 1000;
		padding: 0;
		display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
		background-color: #07346b;
	}
	.main
	{
		margin-left: 300px;
	}
}

@media (min-width: $medium-device)
{
	.main
	{
		padding: 60px;
	}
}

@media (max-width: $small-device)
{
	.nav-buttons
	{
		margin: 0 !important;
		padding: 10px 0 0 0 !important;
		.btn
		{
			border: none;
			margin: 5px 0 !important;
		}
	}
	.buttons
  {
    justify-content: center;
  }
}