@import "shared";

.responsive
{
  padding: 0 !important;
  display: block;
  max-width: 100%;
  height: auto;
}

.page-title
{
  color: $primary-color;
  font-size: 46px;
  text-align: center;
  margin: 0 0 30px 0;
}

.about
{
  .responsive
  {
    padding: 30px !important;
    background-color: #eee;
    display: flex;
    flex-direction: row;
  }
  .col
  {
    display: flex;
    align-items: center;
  }
  .profile-picture
  {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
  }
  .content
  {
    text-align: justify;
    h1
    {
      font-size: 60px;
      margin-bottom: 20px;
      text-align: center;
    }
    p
    {
      font-size: 20px;
    }
  }
}

.index
{
  .no-posts
  {
    padding: 40px;
    background-color: #eee;
    border: 4px solid #fff;
    border-image: $primary-gradient 4 stretch;
    text-align: center;
    .page-title
    {
      font-weight: 700;
    }
    .body
    {
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 30px;
    }
    .buttons
    {
      justify-content: center;
    }
  }
}

.show
{
  .well
  {
    padding: 40px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    background-color: #eee;
    margin: 0 0 30px 0;
    &:last-child
    {
      margin: 0;
    }
    .title
    {
      font-size: 46px;
      margin: 0 0 5px 0;
    }
    .date
    {
      font-size: 14px;
    }
    .body
    {
      font-size: 20px;
      line-height: 150%;
    }
    h2
    {
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

.new, .edit
{
  .responsive
  {
    padding: 30px !important;
    background-color: #eee;
  }
}

@media (max-width: $large-device)
{
  .about
  {
    .content
    {
      margin-left: 0;
      h1
      {
        font-size: 40px;
        margin-bottom: 20px;
      }
      p
      {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: $medium-device)
{
  .responsive
  {
    padding: 15px;
  }
  .about
  {
    .responsive
    {
      display: block !important;
    }
    .col
    {
      display: block !important;
    }
    .profile-picture
    {
      max-width: 200px;
      max-height: 200px;
      margin-bottom: 20px;
    }
    .content
    {
      h1
      {
        font-size: 32px;
        margin-bottom: 15px;
      }
    }
  }
  .index
  {
    .no-posts
    {
      padding: 15px;
      .page-title
      {
        font-size: 30px;
        margin-bottom: 20px;
      }
      .body
      {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 20px;
      }
    }
  }
  .show
  {
    .well
    {
      padding: 20px;
      margin: 0 0 10px 0;
      &:last-child
      {
        margin: 0;
      }
      .title
      {
        font-size: 30px;
      }
      .date
      {
        font-size: 12px;
      }
      .body
      {
        font-size: 16px;
        line-height: 150%;
      }
      h2
      {
        margin-bottom: 10px;
      }
    }
  }
}